body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	overflow: hidden;
	background-image: url("../images/background-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
}

.signup-container {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


#particles-js {
	position:fixed;
    height: 100vh;
	z-index: -5;
}