<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク管理 | ログイン</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<link rel="stylesheet" href="/css/login.css">
</head>
<body>
    
    <div id="particles-js"></div>

    <div class="content-container">
		<div class="card m-3 pt-3 px-5">
			<div class="card-title">
				<h3 class="text-center pt-3">ログイン</h3>
				<hr>
				
				<div th:if="${message}" class="alert alert-danger text-center" role="alert">
					[[${message}]]
				</div>
				<div th:if="${errList}" class="alert alert-danger text-center align-middle" role="alert">
					<p th:each="errMsg:${errList}" class="mb-0">[[${errMsg}]]</p>
				</div>
			</div>
		    <div class="card-body row align-items-center g-0 pt-0">
				<div class="col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center p-5 pt-0 text-center">
					<dotlottie-wc
						src="https://lottie.host/5a4b4d0a-09b4-4d3c-b02f-2fe5c3455def/2HknpbcBoS.lottie"
						style="width: 300px; height: 300px"
						speed="1"
						autoplay
						loop
					></dotlottie-wc>
					<h6>TodoListを使用して</h6>
					<h6>作業を効率化させましょう！</h6>
				</div>
				
				<div class="col-md-6 ps-md-3">
					<div>
						<form action="/login" method="post" class="ms-3">
							<div class="mb-3">
								<label for="email" class="form-label">メールアドレス</label>
								<input type="email" name="email" placeholder="email@example.com" class="form-control" id="email" aria-describedby="emailHelp">
							</div>
							<div class="mb-3">
								<label for="password" class="form-label">パスワード</label>
								<input type="password" name="password" placeholder="password" class="form-control" id="password">
							</div>
							<div class="mb-3 form-check">
								<input type="checkbox" class="form-check-input" id="rememberMe">
								<label class="form-check-label" for="rememberMe">ログイン状態を保持する</label>
							</div>
							
							<button type="submit" class="btn btn-primary w-100 mt-3">ログイン</button>
						</form>
						<div class="text-center mt-3">
							<a href="/account">新規登録はこちら</a>
						</div>
					</div>
			  	</div>
			</div>
		</div>
    </div>

	<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	<script
	  src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.6.2/dist/dotlottie-wc.js"
	  type="module"
	></script>
	<script th:src="@{/js/login.js}"></script>
</body>
</html>